{{yield}}

<form class="form-horizontal" {{action "submit" on="submit"}}>
  <div class="form-group">
    <label for="project-name">Name</label>
    {{input value=project.name class="form-control" id="project-name"}}
  </div>
  <div class="form-group">
    <label for="project-description">Description</label>
    {{input value=project.description class="form-control" id="project-description"}}
  </div>
  {{project-state state=project.state}}
  <div class="form-group">
    <label for="project-github">Github Link</label>
    {{input value=project.github_link class="form-control" id="project-github"}}
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
