{{#if isEditing}}
  {{manage-project project=model onSubmit="editProject"}}
{{else}}
  <h4>{{model.user.username}}'s Project: '{{model.name}}'</h4><p>- {{model.state}}</p>
  <p>{{model.description}}</p>
  <p><a href="{{model.github}}">Github</a></p>

  {{project-stories project=model}}
  {{outlet}}

  <button type="button" {{action "edit"}} class="btn btn-warning">Edit</button>
  <button type="button" {{action "destroy"}} class="btn btn-danger">Delete because Adam said so</button>

{{/if}}


