{{dashboard-project-header project=model}}
<div class="row">
  <div class="col-lg-3">
    {{dashboard-story-panel storyType="Icebox" stories=model.icebox}}
  </div>
  <div class="col-lg-3">
    {{dashboard-story-panel storyType="To-Do" stories=model.todo}}
  </div>
  <div class="col-lg-3">
    {{dashboard-story-panel storyType="Doing" stories=model.doing}}
  </div>
  <div class="col-lg-3">
    {{dashboard-story-panel storyType="Done" stories=model.done}}
  </div>
</div>


{{outlet}}
