{{#if isEditing}}
  {{manage-bookmark bookmark=model onSubmit="editBookmark"}}
{{else}}
  <p><a href="{{model.bookmarkLink}}">{{model.title}}</a></p>
  <button type="button" {{action "edit"}}>Edit</button>
  <button type="button" {{action "destroy"}}>Delete Resource</button>
{{/if}}

{{outlet}}
